<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">


  <head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/bootstrap-3.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/style.css">

    <meta charset="utf-8">
  </head>
  <body>
    {% block page_content %}{% endblock %}

    <script src="/static/jquery-1.11.2.min.js"></script>
    <script src="/static/script.js"></script>

    {% block js %}{% endblock %}
  </body>
</html>